
@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Montserrat")
}

p {
    color: #333;
}

button {
    min-width: 50px;
    min-height: 36px;
    padding: 8px 12px;
    background: #9dc08b;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: solid 1px #A0C49D;
    /*box-shadow: 0 0 12px rgba(44, 80, 72, 0.39);*/
}

button:hover {
    background: #40513B;
    color: #9dc08b;
    cursor: pointer;
    /*border: solid 1px #A7D7C5;*/
    /*box-shadow: 0 0 36px rgba(44, 80, 72, 0.39);*/
}

.species-italic {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 200;
}