@import '../styles.css';

@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Montserrat")
}

p {
    color: #333;
    font-family: Montserrat, sans-serif;
}

p.small-clickable-text {
    font-size: 14px;
    color: var(--light-green);
    text-decoration: underline;
    cursor: pointer;
}

p.small-clickable-text:hover {
    color: var(--dark-green);
}

h2, h3, h4 {
    text-align: center;
    color: #161f13;
    font-family: "Montserrat", serif;
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

/* BUTTONS */
button {
    min-width: 50px;
    min-height: 36px;
    padding: 8px 12px;
    background: var(--light-green);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: solid 1px #A0C49D;
    /*box-shadow: 0 0 12px rgba(44, 80, 72, 0.39);*/
}

button:hover {
    background: #40513B;
    color: var(--light-green);
    cursor: pointer;
    /*border: solid 1px #A7D7C5;*/
    /*box-shadow: 0 0 36px rgba(44, 80, 72, 0.39);*/
}

button.bigger-button {
    padding: 16px 32px;
    min-width: 180px;
    border-radius: 16px;
}

button.secondary-button {
    background-color: white;
}

button.water-button {
    border-radius: 25px;
    background-color: #57b3f6;
    border-color: #28a6fa;
}

button.water-button:hover {
    background-color: #28a6fa;
    border-color: #57b3f6;
    color: white;
}

input {
    min-height: 38px;
    border: solid 0;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(44, 80, 72, 0.39);

    padding: 5px 20px;
    font-family: Prompt, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #2a6534;
}

input::selection {
    background-color: #40513B; /* Set the background color for selected text */
    color: #dcf8df; /* Set the text color for selected text */
}

input:focus {
    outline: 1px solid var(--light-green);
    caret-color: var(--light-green);
    box-shadow: 0 0 6px 2px rgba(157, 192, 139, 0.42) inset;
}

.main {
    margin-top: 24px;
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    min-width: 320px;
    max-width: 20%;
    min-height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    border: #3C6255 solid 1px;
    box-shadow: 4px 8px 20px rgba(22, 31, 19, 0.39);
    display: flex;
    flex-direction: column;
}

.card h2 {
    text-align: center;
    color: #161f13;
    font-family: "Merriweather", serif;
    font-size: 24px;
}


.card h3 {
    text-align: center;
    font-size: 12pt;
}

.card p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: auto;
}

.species-italic {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 200;
}

.line {
    margin: 10px auto 16px;
    height: 1px;
    width: 50%;
    background-color: var(--dark-green);
    display: flex;
}

.error-message {
    color: red
}

p.success-text {
    font-weight: bold;
    font-size: 16px;
    color: var(--success-green)
}

.success-icon {
    font-size: 36px;
    color: var(--success-green);
    /*color: green;*/
}
