:root {
    /*--dark-main: #161f13;*/
    --dark-main: #011B10;
    /*--light-main: #9dc08b;*/
    --light-main: #bbdaac;
    /*--lightest-main: #EDF1D6;*/
    --lightest-main: #4d3bda;
    --success-green: #49b25b;
    --dark-main-shadow: rgba(22, 31, 19, 0.4);

    --dark-bg: #40513B;
    --light-bg: #e6f3d9;
}